body{
    font-family: 'Mukta', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
#title_colour{
    color: orangered;
}
#container_one{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-color: rgb(208, 239, 239);
}
.top{
    width: 40%;
    text-align: justify;
    margin: 5%;
}
.top img{
    width: 100%;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(darkblue, rgb(61, 45, 7));
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
}