body{
    font-family: 'Mukta', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
#title_colour{
    color: orangered;
}
#container_one{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 50, 251, 0.033);
}
#container_two{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: azure;
}
.top{
    width: 40%;
    text-align: justify;
    margin: 5%;
}
.top img{
    width: 100%;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(darkblue, rgb(61, 45, 7));
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
}
#flex{
    display: flex;
}
.box h3{
    color: rgb(255, 89, 0);
}
.box{
    width: 40%;
    height: 400px;
    padding: 0 2%;
    margin: 0 3%;
    margin-bottom: 50px;
    background-color: rgba(245, 222, 179, 0.125);
    box-shadow: 10px 10px 30px gray;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(226, 61, 1), rgb(255, 238, 0));
    border-image-slice: 1;
}
#last_container{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
}